nav{
  position: fixed;
  right: 0;
  background-color: #1f2937;
  z-index: 1;
}

nav ul{
  display: none;
  flex-direction: column;
  list-style: none;
  padding-right: 7vw;
  padding-left: 7vw;
  margin-top: 53px;
  margin-bottom: 24px;
}

.fa-bars{
  display: inline;
  position: fixed;
  right: 7vw;
  top: 16px;
  font-size: 24px;
}

nav a{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

nav li{
  margin-top: 24px;
}

header h1{
  color: #f9faf8;
  font-size: 16px;
  margin-bottom: 15px;
  align-self: flex-start;
}

header ul{
  display: none;
}

header a{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 14px;
}

footer{
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  height: 26px;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
}